@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}

p {
  text-align: center;
}

.icon {
  width: 30px;
  /* margin-left: 100px; */

}

/* #handle {
  margin-right: 100px
} */

#contact {
  margin: 20px;
}

#bballnet {
  width: 50%;
  padding: 0px;
  margin-left: 75px;
  margin-top: 20px;
}